<swiper [autoplay]="{delay: 10000}" [loop]="true"  [pagination]="{
      type: 'progressbar'
    }"
        class="mySwiper"
>
  <ng-template swiperSlide>
    <div class="swiper-slide__item" [innerHTML]="info$?.desc"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide__item" [innerHTML]="info$?.desc"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide__item" [innerHTML]="info$?.desc"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide__item" [innerHTML]="info$?.desc"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide__item" [innerHTML]="info$?.desc"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide__item" [innerHTML]="info$?.desc"></div>
  </ng-template>
</swiper>
