@import "../../../../node_modules/swiper/swiper.min.css";
@import "../../../../node_modules/swiper/swiper-bundle.min.css";
@import "../../../styles/mixins/icon";
@import "../../../styles/mixins/screen";
@import "../../../styles/mixins/button";

.swiper {
  padding-top: 45px;
  width: calc(100vw - 40px);

  @include screen-lg {
    width: 465px;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: flex-end;

  position: relative;

  &__next {
    position: absolute;;
  }

  &__item {

    padding: 25px 25px 6px 0;
    &__edit{
      @include button-small();
      left: 20px;
      top: 0;
      position: absolute;
      display: grid;
      justify-content: center;
      &__icon{
        @include icon('icon/edit.svg');
        width: 30px;
        height: 30px;
      }
    }
    b {
      font-weight: bold;
    }

    img {
      display: none;
    }

    @include screen-lg {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 76px;
      grid-column-gap: 25px;

      img{
        display: block;
        height: 76px;
        width:76px;
        object-fit: cover;
      }
    }
  }
}
