@import '../../../styles/mixins/font';
@import '../../../styles/mixins/screen';

.skills {
  display: grid;
  ul {
    display: grid;
    margin-bottom: 31px;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
    border-radius: 4px;
    padding: 0;
    li {
      display: block;
      @include fontMedium();
      color: #4e4b66;
      position: relative;
      padding: 6px 32px;
      text-align: right;

      &::before {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        border-radius: 50%;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        background: url('../../../svg/checkbox.svg');

        @include screen-lg {
          left: 32px;
        }
      }

      &:nth-child(even) {
        background-color: #eff0f7;
      }
      @include screen-lg {
        @include fontSmall();
        padding: 3px 16px;
      }
      @include screen-xlg {
        @include fontMedium();
        padding: 6px 16px;
      }
    }
    @include screen-lg {
      margin-bottom: 25px;
    }
  }
}
