@import "../../../styles/mixins/font";
@import "../../../styles/mixins/icon";

.dropdown{
  background-color: #EFF0F6;
  border-radius: 15px;
  padding: 16px 0 12px 24px;
  @include font(16px,28px, 400, 0.75px);
  position: relative;
  color: #14142B;

  &:after{
    content: '';
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 24px;
    display: block;
    @include icon('icon/arrow.svg');
    background-size: contain;
  }
}
