@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/icon';
@import '../../../styles/mixins/button';

.info {
  margin: 45px 0 100px 0;
  padding: 0 21px 0 21px;

  @include screen-lg {
    display: grid;
    width: $info-size;
    position: fixed;
    margin: 0;
    padding: 20px 0 0 0;
    height: calc(100vh - 48px);
  }
  @include screen-xlg {
    width: $info-sizeLg;
  }
}

@keyframes blinker {
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
