<div class="create-work">
  <div class="create-work__title" i18n="@@cw.t1">Create work</div>
  <div class="create-work__close" (click)="closeModalHandler()"></div>
  <div class="create-work__grid">
    <app-input-field
      i18n-placeholder="@@cw.t2"
      class="create-work__field"
      [error]="errors?.['name']"
      placeholder="Name"
      [internalValue]="name.value"
      (valueChange)="name.patchValue($event)"></app-input-field>

    <app-input-field
      i18n-placeholder="@@cw.t2.1"
      class="create-work__field"
      [error]="errors?.['name']"
      placeholder="Name RU"
      [internalValue]="name.value"
      (valueChange)="name.patchValue($event)"></app-input-field>
  </div>

  <div>
    <div class="create-work__grid__title" i18n="@@cw.t3">Work tags</div>
    <div class="create-work__grid__tags">
      <div
        class="create-work__grid__tags__item"
        *ngFor="let tag of tags"
        (click)="remove(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>
  <div>
    <div class="create-work__grid__title" i18n="@@cw.t4">All tags</div>
    <div class="create-work__grid__tags">
      <div
        class="create-work__grid__tags__item"
        *ngFor="let tag of allTags; index as i"
        (click)="add(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>
  <div class="create-work__grid">
    <app-text-area
      i18n-placeholder="@@cd.t5"
      class="create-work__field"
      [error]="errors?.['description']"
      placeholder="Description"
      [internalValue]="description.value"
      [rows]="13"
      (valueChange)="description.patchValue($event)"></app-text-area>
    <app-text-area
      i18n-placeholder="@@cd.t5.1"
      class="create-work__field"
      [error]="errors?.['description']"
      placeholder="Description RU"
      [internalValue]="description.value"
      [rows]="13"
      (valueChange)="description.patchValue($event)"></app-text-area>
  </div>

  <div class="create-work__grid">
    <app-input-field
      i18n="@@cd.t6"
      class="create-work__grid__field"
      [error]="errors?.['github']"
      placeholder="Github"
      [internalValue]="github.value"
      (valueChange)="github.patchValue($event)"></app-input-field>
    <app-input-field
      i18n="@@cd.t7"
      class="create-work__grid__field"
      [error]="errors?.['demo']"
      placeholder="Demo"
      [internalValue]="demo.value"
      (valueChange)="demo.patchValue($event)"></app-input-field>
  </div>

  <button class="create-work__button" (click)="submitForm()" i18n="@@cw.t8">
    Apply
  </button>
</div>
