@import '../../../styles/mixins/font';
@import '../../../styles/mixins/input';
@import '../../../styles/mixins/button';
@import '../../../styles/mixins/modal-close';
@import '../../../styles/mixins/screen';

.login {
  padding: 60px 20px 40px 20px;
  &__close {
    @include modal-close();
  }
  &__form {
    display: grid;
    justify-items: center;
    &__input {
      margin-bottom: 35px;
      display: block;
    }
  }
  &__title {
    @include fontHeaderSmall();
    text-align: center;
    margin-bottom: 25px;
  }
  &__btn {
    @include button-fill();
    width: 220px;
    border-radius: 28px;
    height: 56px;
  }
  @include screen-lg {
    padding: 96px 132px;
  }
}
