@import '../../../styles/mixins/font';
@import '../../../styles/mixins/icon';
@import '../../../styles/mixins/screen';

.notification {
  background-color: green;
  padding: 20px 30px;
  @include fontSmall(bold);
  font-weight: bold;
  color: #ffffff;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  align-items: center;
  opacity: 0.8;
  width: calc(100vw - 42px);

  &--error {
    background-color: red;
  }

  &__icon {
    @include icon('check.svg');
    width: 32px;
    height: 32px;

    &--error {
      @include icon('warning.svg');
    }
  }

  &-list {
    display: grid;
    grid-row-gap: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  @include screen-lg {
    width: 400px;
  }
}
