@import '../../../styles/mixins/font';

.notification {
  background-color: #5f2eea;
  padding: 20px 30px;
  @include font();
  font-weight: bold;
  color: #ffffff;
  border-radius: 15px;
  width: 400px;
  &--error {
    background-color: red;
  }
  &-list {
    display: grid;
    grid-row-gap: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
