@import 'src/styles/mixins/screen';

:host {
  background: #e2e9ee;
}

:root {
  --swiper-theme-color: #5f2eea !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  @include screen-lg {
    padding-right: 15px;
  }
}

.app {
  overflow: hidden;
  @include screen-lg {
    &__content {
      display: grid;
      max-width: 1200px;
      margin: 0 auto;
      grid-template-columns: 465px 1fr;
      grid-column-gap: 106px;
    }
  }
}
