<div class="app">
  <app-navbar></app-navbar>

  <div class="app__content">
    <app-sidebar-info [isAuth]="isAuth"></app-sidebar-info>
    <app-work-list [isAuth]="isAuth"></app-work-list>
  </div>

  <app-modal *ngIf="isLoginVisible">
    <app-login-modal></app-login-modal>
  </app-modal>
  <app-modal *ngIf="isEditInfoVisible">
    <app-edit-info></app-edit-info>
  </app-modal>
  <app-modal *ngIf="isEditWorkVisible">
    <app-edit-work></app-edit-work>
  </app-modal>
  <app-modal *ngIf="isEditDescVisible">
    <app-edit-desc></app-edit-desc>
  </app-modal>
</div>
