@import 'src/styles/mixins/screen';

:host{
  background: #E2E9EE;
}
.app{
  overflow: hidden;
  @include screen-lg {
    &--no-scroll{
      position: fixed;
      overflow: hidden;
      margin-right: 15px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &__container {
      display: grid;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
      grid-template-columns: 465px 1fr;
      grid-column-gap: 106px;
    }
  }
}
