<div class="info">
  <button *ngIf="isAuth" class="info__edit" (click)="editInfoHandler()">
    <div class="info__edit__icon"></div>
  </button>
  <div class="info__test">
    <div class="info__test__photo">

    </div>
    <div class="info__test__container">
      <div class="info__who">{{info$?.name}} <div class="info__who__icon"></div></div>
      <div class="info__job">
        <div class="info__job__icon">
        </div>
        <div class="info__job__text">
          {{info$?.job}}
        </div>
      </div>

    </div>
  </div>

  <app-info-tools *ngIf="false"></app-info-tools>


  <div class="info__desc">
    <app-desc-carousel *ngIf="info$?.desc?.length" [info$]="info$" [isAuth]="isAuth"></app-desc-carousel>
  </div>
  <app-info-skills [experience]="info$?.experience"></app-info-skills>
  <app-info-contacts [contacts]="info$?.contacts"></app-info-contacts>
</div>
