@import "../../../styles/mixins/font";
@import "../../../styles/mixins/screen";
@import "../../../styles/mixins/icon";

.info{
  margin-bottom: 32px;
  padding: 0 21px 0 21px;

  &__test{
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: right;
    align-content: center;
    margin-bottom: 50px;
    &__container{
      display: grid;
      align-content: center;
    }
    &__photo{
      width: 75px;
      height: 75px;
       @include icon("/Photos.png");
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #fff;
      outline: solid 3px #5F2EEA

    }
  }
  &__who {
    @include font(32px, 36px, 700, 1px);
    margin-bottom: 8px;
    position: relative;

    @include screen-lg {
      margin-bottom: 10px;

    }
  }

  &__job{
    @include font(24px, 32px, 400, 1.5px);
    margin-bottom: 10px;
    @include screen-lg{
      margin: 0;

    }
  }

  &__desc{
    @include font(20px, 32px, 400, 1.5px);
    margin-bottom: 23px;
    color: black;
    text-align: right;
    @include screen-lg{
      margin-bottom: 19px;
    }
  }
  @include screen-lg{
    display: grid;
    width: 465px;
    position: fixed;
    margin: 0;
    padding: 0;
    height: calc(100vh - 60px);

  }
}
