@import "../../../styles/mixins/font";
@import "../../../styles/mixins/screen";
@import "../../../styles/mixins/icon";
@import "../../../styles/mixins/button";

.info{
  margin-bottom: 32px;
  padding: 0 21px 0 21px;
  &__edit{
    @include button-small();
    left: -120px;
    top: 50px;
    position: absolute;
    display: grid;
    justify-content: center;
    &__icon{
      @include icon('icon/edit.svg');
      width: 30px;
      height: 30px;
    }
  }
  &__test{
    align-content: center;
    text-align: center;
    justify-items: center;
    display: grid;
    grid-row-gap: 20px;
    &__container{
      display: grid;
      align-content: center;
    }
    &__photo{
      width: 75px;
      height: 75px;
       @include icon("/Photos.png");
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #fff;
      outline: solid 3px #5F2EEA

    }

    @include screen-lg{
      grid-template-columns: auto 1fr;
      grid-row-gap: 0;
      text-align: right;
    }
  }
  &__who {
    @include font(32px, 36px, 700, 1px);
    margin-bottom: 8px;
    position: relative;

    @include screen-lg {
      margin-bottom: 10px;

    }
  }

  &__job{
    @include font(24px, 32px, 400, 1.5px);
    margin-bottom: 10px;
    @include screen-lg{
      margin: 0;

    }
  }

  &__desc{
    @include font(20px, 32px, 400, 1.5px);
    margin-bottom: 23px;
    color: black;
    text-align: right;
    @include screen-lg{
      margin-bottom: 0;
    }
  }
  @include screen-lg{
    display: grid;
    width: 465px;
    position: fixed;
    margin: 0;
    padding: 0;
    height: calc(100vh - 60px);
    grid-template-rows:20% 20% 45% 15%;
  }
}
