@import '../../../styles/mixins/font';
@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/icon';
@import '../../../styles/mixins/button';

.profile {
  text-align: center;
  justify-items: center;
  display: grid;
  grid-row-gap: 20px;
  height: 100%;

  @include screen-lg {
    justify-items: right;
  }

  &__content {
    display: grid;
    align-content: flex-start;

    &__who {
      @include fontHeaderSmall(bold);
      margin-bottom: 8px;
      position: relative;
      display: grid;

      @include screen-lg {
        margin-bottom: 0;
        @include fontLarge(bold);
      }
      @include screen-xlg {
        @include fontHeaderSmall(bold);
      }
    }

    &__job {
      margin-bottom: 10px;
      display: flex;
      align-content: center;
      justify-content: center;
      column-gap: 15px;

      &__icon {
        display: none;
        @include icon('briefcase.svg');
        width: 30px;
        height: 30px;
        position: relative;
        background-size: contain;

        @include screen-lg {
          display: block;

          &:after {
            animation: blinker 3s linear infinite;

            display: block;
            position: absolute;
            bottom: 4px;
            right: -7px;
            content: '';
            width: 15px;
            height: 2px;
            background: #000000;
            border-radius: 2px;
          }
        }
      }

      &__text {
        @include fontLarge();
        @include screen-xlg {
          @include fontLarge();
        }
      }

      @include screen-lg {
        margin: 0;
        justify-content: flex-end;
      }
    }
  }

  &__photo {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;

    &__edit {
      @include button-icon();
      right: -15px;
      bottom: -15px;
      position: absolute;

      &__icon {
        @include icon('edit.svg');
      }
    }
    @include screen-lg {
      width: 75px;
      height: 75px;
    }

    @include screen-xlg {
      width: 100px;
      height: 100px;
    }
  }

  @include screen-lg {
    grid-template-columns: auto 1fr;
    grid-row-gap: 0;
    text-align: right;
  }
  @include screen-xlg {
    grid-template-columns: auto;
    justify-items: center;
  }
}
