@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/icon';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.3);
  z-index: 2;
}

.modal {
  background: #ffffff;
  position: relative;
  width: 100vw;

  &-container {
    z-index: 3;
    justify-content: center;
    display: grid;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: flex-end;

    @include screen-lg {
      align-items: center;
    }
  }

  @include screen-lg {
    width: auto;
    border-radius: 24px;
    margin: 30px 0;
  }
}
