@mixin button-fill($size: 16px, $height: 28px, $weight: 600, $spacing: 0.75px) {
  height: 64px;
  align-items: center;
  display: grid;
  text-align: center;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-family: 'Poppins', sans-serif;
  background-color: #5f2eea;
  border-radius: 16px;
  border-color: transparent;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #2a00a2;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: #5f2eea;
  }
}

@mixin button-red($size: 16px, $height: 28px, $weight: 600, $spacing: 0.75px) {
  @include button-fill($size, $height, $weight, $spacing);
  background-color: #ed2e7e;

  &:hover {
    background-color: #c30052;
  }
}

@mixin button($size: 16px, $height: 28px, $weight: 600, $spacing: 0.75px) {
  @include button-fill($size, $height, $weight, $spacing);
  background-color: transparent;
  color: #5f2eea;
  border-color: #5f2eea;

  &:hover {
    border-color: #2a00a2;
    color: #2a00a2;
    background-color: transparent;
  }
}

@mixin button-small(
  $size: 14px,
  $height: 24px,
  $weight: 600,
  $spacing: 0.75px
) {
  @include button-fill($size, $height, $weight, $spacing);
  padding: 6px 24px;
  height: auto;
}

@mixin button-edit($size: 14px, $height: 24px, $weight: 600, $spacing: 0.75px) {
  @include button-fill($size, $height, $weight, $spacing);
  width: 50px;
  height: 50px;
}
