@import '../../../styles/mixins/font';
@import '../../../styles/mixins/button';
@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/icon';

.work {
  position: relative;

  &__edit {
    @include button-edit();
    left: 50%;
    top: -75px;
    transform: translateX(-50%);
    position: absolute;
    display: grid;
    justify-content: center;

    &__icon {
      @include icon('edit.svg');
      width: 30px;
      height: 30px;
    }
    @include screen-lg {
      top: -20px;
    }
  }
  &__title {
    @include font(32px, 34px, 700, 2.5px);
    margin-bottom: 27px;
    padding: 0 21px;
    text-align: center;
    @include screen-lg {
      margin-bottom: 17px;
      padding: 32px 32px 0 32px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    padding: 0 21px;
    justify-content: center;
    &__item {
      @include font(12px, 24px, 400, 1px);
      color: #2a00a2;
      padding: 0 8px;
      border-radius: 4px;
      background-color: #e4daff;
      position: relative;
      text-transform: uppercase;
    }

    @include screen-lg {
      margin-bottom: 21px;
      padding: 0 32px;
    }
  }

  &__functional-list {
    ul {
      display: grid;
      margin-bottom: 15px;
      text-align: right;

      li {
        background-color: #eff0f7;
        padding: 12px 32px 12px 80px;

        &:nth-child(even) {
          background-color: #ffffff;
        }
        display: block;
        position: relative;
        @include font(16px, 28px, 400, 1px);

        &:before {
          content: '';
          width: 32px;
          height: 32px;
          position: absolute;
          border-radius: 50%;
          left: 21px;
          top: 50%;
          transform: translate(0, -50%);
          @include icon('radio.svg');

          @include screen-lg {
            left: 32px;
          }
        }

        @include screen-lg {
          padding: 13px 32px 13px 95px;
          @include font(20px, 32px, 400, 1.5px);
          left: 0;
        }
      }
      @include screen-lg {
        margin-bottom: 25px;
        padding: 0;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-row-gap: 15px;
    padding: 0 21px;
    &__group {
      display: flex;
      column-gap: 5px;

      &__item {
        @include button();
        width: 100%;
      }
    }

    &__item-fill {
      @include button-fill();
    }

    @include screen-lg {
      padding: 0 32px 32px 32px;
    }
  }
  &:before {
    display: block;
    content: '';
    width: calc(100vw - 42px);
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: #eff0f7;
    position: absolute;
    top: -50px;
  }
  @include screen-lg {
    background: #ffffff;
    box-shadow: 0 2px 2px rgb(0 32 51 / 2%), 0 2px 8px rgb(0 32 51 / 16%);
    border-radius: 4px;

    &:before {
      content: none;
    }
  }
}
