<div class="work">
  <div *ngIf="isAuth" class="work__edit" (click)="editWorkHandler()">
    <div class="work__edit__icon"></div>
  </div>
  <div class="work__title">{{ work?.name?.field }}</div>
  <div class="work__tags">
    <div class="work__tags__item" *ngFor="let tag of work?.tags">
      {{ tag?.title }}
    </div>
  </div>
  <div
    class="work__functional-list"
    [innerHTML]="work?.description?.field"></div>
  <div class="work__buttons">
    <div class="work__buttons__group">
      <button
        class="work__buttons__group__item"
        *ngIf="work?.github"
        (click)="openLinkHandler(work?.github)"
        i18n="@@wс.t1">
        GitHub
      </button>
      <button
        class="work__buttons__group__item"
        *ngIf="work?.figma"
        (click)="openLinkHandler(work?.figma)"
        i18n="@@wс.t2">
        Figma
      </button>
    </div>
    <button
      class="work__buttons__item-fill"
      *ngIf="work?.demo"
      (click)="openLinkHandler(work?.demo)"
      [disabled]="isOurLink">
      <span *ngIf="isNotOurLink" i18n="@@wс.t3">Demo</span>
      <span *ngIf="isOurLink" i18n="@@wс.t4">You are here</span>
    </button>
  </div>
</div>
