<div class="edit-work">
  <div class="edit-work__title" i18n="@@ew.t1">Edit work</div>
  <div class="edit-work__close" (click)="closeModalHandler()"></div>
  <div class="edit-work__grid">
    <app-input-field
      i18n-placeholder="@@ew.t2"
      class="edit-work__field"
      [error]="errors?.['name']"
      placeholder="Name"
      [internalValue]="name.value"
      (valueChange)="name.patchValue($event)"></app-input-field>

    <app-input-field
      i18n-placeholder="@@ew.t2.1"
      class="edit-work__field"
      [error]="errors?.['name']"
      placeholder="Name RU"
      [internalValue]="name.value"
      (valueChange)="name.patchValue($event)"></app-input-field>
  </div>

  <div>
    <div class="edit-work__grid__title" i18n="@@ew.t3">Work tags</div>
    <div class="edit-work__grid__tags">
      <div
        class="edit-work__grid__tags__item"
        *ngFor="let tag of tags"
        (click)="remove(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>
  <div>
    <div class="edit-work__grid__title" i18n="@@ew.t4">All tags</div>
    <div class="edit-work__grid__tags">
      <div
        class="edit-work__grid__tags__item"
        *ngFor="let tag of allTags; index as i"
        (click)="add(tag)">
        {{ tag.title }}
      </div>
    </div>
  </div>
  <div class="edit-work__grid">
    <app-text-area
      i18n-placeholder="@@ew.t5"
      class="edit-work__field"
      [error]="errors?.['description']"
      placeholder="Description"
      [internalValue]="description.value"
      [rows]="13"
      (valueChange)="description.patchValue($event)"></app-text-area>

    <app-text-area
      i18n-placeholder="@@ew.t5.t1"
      class="edit-work__field"
      [error]="errors?.['description']"
      placeholder="Description RU"
      [internalValue]="description.value"
      [rows]="13"
      (valueChange)="description.patchValue($event)"></app-text-area>
  </div>

  <div class="edit-work__grid">
    <app-input-field
      i18n-placeholder="@@ew.t6"
      class="edit-work__grid__field"
      [error]="errors?.['github']"
      placeholder="Github"
      [internalValue]="github.value"
      (valueChange)="github.patchValue($event)"></app-input-field>
    <app-input-field
      i18n-placeholder="@@ew.t7"
      class="edit-work__grid__field"
      [error]="errors?.['demo']"
      placeholder="Demo"
      [internalValue]="demo.value"
      (valueChange)="demo.patchValue($event)"></app-input-field>
  </div>

  <button
    class="edit-work__button edit-work__button__delete"
    (click)="deleteWorkHandler()"
    i18n="@@ew.t8">
    Delete
  </button>
  <button class="edit-work__button" (click)="submitForm()" i18n="@@ew.t9">
    Apply
  </button>
</div>
