<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__container__logo"></div>
    MERNPortfolio
    <div class="navbar__container__lang-btn" (click)="showLangHandler()">
      {{ currentLocale }}
    </div>
    <div
      class="navbar__container__admin-btn"
      (click)="showLoginHandler()"
      *ngIf="!isAuth"></div>
    <div
      class="navbar__container__logout"
      (click)="authService.logout()"
      *ngIf="isAuth"></div>
  </div>
</div>

<app-nav-language *ngIf="isLanguageVisible"></app-nav-language>
