<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__container__logo"></div>
    MERNPortfolio
    <button
      class="navbar__container__admin-btn"
      (click)="showLoginHandler()"
      *ngIf="!isAuth">
      <span class="navbar__container__admin-btn__icon"></span>
      <span i18n="@@nb.t1">Вход</span>
    </button>
    <div
      class="navbar__container__admin-btn-mobile"
      (click)="showLoginHandler()"
      *ngIf="!isAuth"></div>
    <button
      class="navbar__container__logout"
      (click)="authService.logout()"
      *ngIf="isAuth">
      <span i18n="@@nb.t2">Выйти</span>
    </button>
    <div
      class="navbar__container__logout-mobile"
      (click)="authService.logout()"
      *ngIf="isAuth"></div>
  </div>
</div>
