@import '../../../styles/mixins/font';
@import '../../../styles/mixins/button';
@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/icon';
@import '../../../styles/mixins/navbar';

.navbar {
  @include font(22px, 34px, 400, 0.1px);
  color: #14142a;
  box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
  background: #ffffff;

  &__container {
    @include navbar();
    &__logo {
      height: 30px;
      background-size: contain;
      @include icon('logo.svg');
    }
    &__logout {
      display: none;
      @include screen-lg {
        @include button-small();
        display: block;
        text-transform: uppercase;
      }
    }
    &__logout-mobile {
      @include icon('power.svg');
      background-size: contain;
      width: 30px;
      height: 30px;
      @include screen-lg {
        display: none;
      }
    }
    &__language {
      display: none;
      @include screen-lg {
        @include button-small();
        display: grid;
        text-transform: uppercase;
      }
    }
    &__admin-btn,
    &__language-btn {
      display: none;

      @include screen-lg {
        @include button-small();
        display: grid;
        text-transform: uppercase;
      }
    }
    &__admin-btn-mobile {
      @include icon('admin.svg');
      background-size: contain;
      width: 30px;
      height: 30px;
      @include screen-lg {
        display: none;
      }
    }
    &__lang-btn-mobile {
      @include icon('translate.svg');
      background-size: contain;
      width: 30px;
      height: 30px;
      @include screen-lg {
        display: none;
      }
    }
    @include screen-lg {
      padding: 10px 0;
    }
  }
}
