@import '../../../styles/mixins/font';
@import '../../../styles/mixins/button';
@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/icon';
@import '../../../styles/mixins/navbar';

.navbar {
  @include fontMedium();
  color: #14142a;
  box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
  background: #ffffff;

  &__container {
    @include navbar();
    &__logo {
      height: 30px;
      background-size: contain;
      @include icon('logo.svg');
    }
    &__logout {
      @include icon('power.svg');
      background-size: contain;
      width: 30px;
      height: 30px;

      &:hover {
        cursor: pointer;
      }
    }
    &__admin-btn {
      @include icon('admin.svg');
      background-size: contain;
      width: 30px;
      height: 30px;

      &:hover {
        cursor: pointer;
      }
    }
    &__lang-btn {
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
