<div class="edit-info">
  <div class="edit-info__title" i18n="@@ei.t1">Edit info</div>
  <div class="edit-info__close" (click)="closeModalHandler()"></div>

  <app-image-input
    class="edit-info__img"
    [imgUrlValue]="img?.value"
    (setFormImageUrl)="setImgUrlValue($event)"></app-image-input>
  <div class="edit-info__grid">
    <app-input-field
      i18n-placeholder="@@ei.t2"
      class="edit-info__field"
      [error]="errors?.['name']"
      placeholder="Name"
      [internalValue]="name.value"
      (valueChange)="name.patchValue($event)"></app-input-field>
    <app-input-field
      i18n-placeholder="@@ei.t2.1"
      class="edit-info__field"
      [error]="errors?.['name']"
      placeholder="Name RU"
      [internalValue]="nameRu.value"
      (valueChange)="nameRu.patchValue($event)"></app-input-field>
  </div>
  <div class="edit-info__grid">
    <app-input-field
      i18n-placeholder="@@ei.t3"
      class="edit-info__field"
      [error]="errors?.['job']"
      placeholder="Grade"
      [internalValue]="job.value"
      (valueChange)="job.patchValue($event)"></app-input-field>
    <app-input-field
      i18n-placeholder="@@ei.t3.1"
      class="edit-info__field"
      [error]="errors?.['job']"
      placeholder="Grade RU"
      [internalValue]="job.value"
      (valueChange)="job.patchValue($event)"></app-input-field>
  </div>
  <div class="edit-info__grid">
    <app-text-area
      i18n-placeholder="@@ei.t4"
      class="edit-info__field"
      [error]="errors?.['experience']"
      placeholder="Skills"
      [internalValue]="experience.value"
      [rows]="13"
      (valueChange)="experience.patchValue($event)"></app-text-area>
    <app-text-area
      i18n-placeholder="@@ei.t4.1"
      class="edit-info__field"
      [error]="errors?.['experience']"
      placeholder="Skills RU"
      [internalValue]="experienceRu.value"
      [rows]="13"
      (valueChange)="experienceRu.patchValue($event)"></app-text-area>
  </div>

  <div class="edit-info__grid">
    <app-input-field
      i18n-placeholder="@@ei.t5"
      class="edit-info__grid__field"
      [error]="errors?.['telegramTitle']"
      placeholder="Telegram title"
      [internalValue]="telegramTitle.value"
      (valueChange)="telegramTitle.patchValue($event)"></app-input-field>
    <app-input-field
      i18n-placeholder="@@ei.t6"
      class="edit-info__grid__field"
      [error]="errors?.['telegramLink']"
      placeholder="Telegram link"
      [internalValue]="telegramLink.value"
      (valueChange)="telegramLink.patchValue($event)"></app-input-field>
  </div>
  <div class="edit-info__grid">
    <app-input-field
      i18n-placeholder="@@ei.t7"
      class="edit-info__grid__field"
      [error]="errors?.['githubTitle']"
      placeholder="Github title"
      [internalValue]="githubTitle.value"
      (valueChange)="githubTitle.patchValue($event)"></app-input-field>
    <app-input-field
      i18n-placeholder="@@ei.t8"
      class="edit-info__grid__field"
      [error]="errors?.['githubLink']"
      placeholder="Github link"
      [internalValue]="githubLink.value"
      (valueChange)="githubLink.patchValue($event)"></app-input-field>
  </div>
  <button class="edit-info__button" (click)="submitForm()" i18n="@@ei.t9">
    Apply
  </button>
</div>
