<div class="edit-info">
  <div class="edit-info__close" (click)="closeModal()"></div>
  <app-image-input
    class="edit-info__img"
    [imgUrlValue]="img?.value"
    (setFormImageUrl)="setImgUrlValue($event)"></app-image-input>

  <app-input-field
    class="edit-info__field"
    [error]="errors?.['name']"
    [placeholder]="'Имя'"
    [internalValue]="name.value"
    (valueChange)="name.patchValue($event)"></app-input-field>
  <app-input-field
    class="edit-info__field"
    [error]="errors?.['job']"
    [placeholder]="'Грейд'"
    [internalValue]="job.value"
    (valueChange)="job.patchValue($event)"></app-input-field>
  <app-text-area
    class="edit-info__field"
    [error]="errors?.['experience']"
    [placeholder]="'Навыки'"
    [internalValue]="experience.value"
    [rows]="10"
    (valueChange)="experience.patchValue($event)"></app-text-area>

  <div class="edit-info__grid">
    <app-input-field
      class="edit-info__grid__field"
      [error]="errors?.['telegramTitle']"
      [placeholder]="'Телеграм тайтл'"
      [internalValue]="telegramTitle.value"
      (valueChange)="telegramTitle.patchValue($event)"></app-input-field>
    <app-input-field
      class="edit-info__grid__field"
      [error]="errors?.['telegramLink']"
      [placeholder]="'Телеграм ссылка'"
      [internalValue]="telegramLink.value"
      (valueChange)="telegramLink.patchValue($event)"></app-input-field>
  </div>
  <div class="edit-info__grid">
    <app-input-field
      class="edit-info__grid__field"
      [error]="errors?.['githubTitle']"
      [placeholder]="'Гитхаб тайтл'"
      [internalValue]="githubTitle.value"
      (valueChange)="githubTitle.patchValue($event)"></app-input-field>
    <app-input-field
      class="edit-info__grid__field"
      [error]="errors?.['githubLink']"
      [placeholder]="'Гитхаб ссылка'"
      [internalValue]="githubLink.value"
      (valueChange)="githubLink.patchValue($event)"></app-input-field>
  </div>
  <button class="edit-info__button" (click)="submitForm()">Применить</button>
</div>
