@import '../../../styles/mixins/button';
@import '../../../styles/mixins/modal-close';
@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/font';

.edit-info {
  padding: 40px 20px;
  &__title {
    @include font(32px, 36px, 700, 1px);
    text-align: center;
    margin-bottom: 25px;
    @include screen-lg{
      @include font(48px, 50px, 700, 1px);
    }
  }
  &__close {
    @include modal-close();
  }
  &__img {
    margin-bottom: 35px;
    display: block;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  &__field,
  &__grid__field {
    display: block;
    margin-bottom: 35px;
  }

  &__button {
    @include button-fill();
    width: 100%;
  }
  @include screen-lg{
    padding: 96px 132px;
  }
}
