@import '../../../styles/mixins/icon';
@import '../../../styles/mixins/screen';
@import '../../../styles/mixins/button';
@import '../../../styles/mixins/font';

.swiper {
  padding-top: 45px;
  width: calc(100vw - 40px);

  @include screen-lg {
    width: $info-size;
    padding-top: 20px;
  }
  @include screen-xlg {
    width: $info-sizeLg;
    padding-top: 45px;
  }
}

.swiper-slide {
  @include fontMedium();
  margin-bottom: 23px;
  color: black;
  text-align: right;
  position: relative;

  @include screen-lg {
    margin-bottom: 0;
  }

  &__item {
    b {
      font-weight: bold;
    }

    &__img {
      display: none;
    }

    @include screen-lg {
      display: grid;
      grid-template-columns: 1fr 76px;
      grid-column-gap: 25px;
      align-items: center;
      @include fontSmall();

      img {
        display: block;
        height: 60px;
        width: 60px;
        object-fit: cover;
      }
    }
    @include screen-xlg {
      @include fontMedium();

      img {
        height: 68px;
        width: 68px;
      }
    }
  }
}

.desc {
  position: relative;

  &__buttons {
    right: 24px;
    top: 8px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    z-index: 2;

    &__add {
      @include button-icon();

      &__icon {
        @include icon('add.svg');
      }
    }

    &__edit {
      @include button-icon();

      &__icon {
        @include icon('edit.svg');
      }
    }
    @include screen-lg {
      right: auto;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
