@import "../../../styles/mixins/icon";
@import "../../../styles/mixins/screen";
@import "../../../styles/mixins/button";
@import "../../../styles/mixins/font";

.swiper {
  padding-top: 45px;
  width: calc(100vw - 40px);

  @include screen-lg {
    width: 465px;
  }
}

.swiper-slide {
  @include font(20px, 32px, 400, 1.5px);
  margin-bottom: 23px;
  color: black;
  text-align: right;
  position: relative;

  @include screen-lg {
    margin-bottom: 0;
  }

  &__item {
    padding: 25px 25px 6px 0;

    b {
      font-weight: bold;
    }

    &__img {
      display: none;
    }

    @include screen-lg {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 76px;
      grid-column-gap: 25px;

      img {
        display: block;
        height: 76px;
        width: 76px;
        object-fit: cover;
      }
    }
  }
}

.desc {
  position: relative;

  &__buttons {
    top: 0;
    left: -120px;
    position: absolute;
    display: grid;
    grid-row-gap: 10px;
    &__add {
      display: grid;
      justify-content: center;
      @include button-edit();

      &__icon {
        @include icon('icon/add.svg');
        width: 30px;
        height: 30px;
      }

    }

    &__edit {
      @include button-edit();

      display: grid;
      justify-content: center;

      &__icon {
        @include icon('icon/edit.svg');
        width: 30px;
        height: 30px;
      }
    }
  }
}
