<div class="desc">
  <button *ngIf="isAuth" class="desc__edit" (click)="editDescHandler()">
    <div class="desc__edit__icon"></div>
  </button>
  <button *ngIf="isAuth" class="desc__add" (click)="createDescHandler()">
    <div class="desc__edit__icon"></div>
  </button>
  <swiper #swiper
          [autoplay]="{delay: 10000}" [loop]="true"
          [pagination]="{type: 'progressbar'}"
  >
    <ng-template swiperSlide *ngFor="let desc of info$?.desc">
      <div class="swiper-slide__item">
        <span [innerHTML]="desc?.text"></span>
        <img class="swiper-slide__item__img" [src]="urlService.formImgUrl(desc?.imgURL)" alt="">
      </div>
    </ng-template>
  </swiper>
</div>
