@import "../../../../styles/mixins/font";
@import "../../../../styles/mixins/screen";

.skills{
  display: grid;
  grid-row-gap: 15px;
  margin-bottom: 31px;
  &__item{
    @include font(16px, 28px, 400, 1.25px);
    color: #4E4B66;
    padding-left: 73px;
    position: relative;
    width: 240px;
    &::before{
      content: '';
      width: 32px;
      height: 32px;
      position: absolute;
      border-radius: 50%;
      left: 8px;
      top: 50%;
      transform: translate(0, -50%);
      background: url("../../../../svg/checkbox/checkbox.svg");
    }
  }
  @include screen-lg{
    grid-row-gap: 20px;
    margin-bottom: 65px;
  }
}
