.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}
#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
.avatar{
    border-radius: 50%;
    width:100px;
    height:100px;
    margin: 0 auto;
}
.main{
    padding-top: 40px;
    text-align: center;
    height: calc(100vh - 56px)!important;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    position: fixed;
    width: 250px;
}
.social{
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: right;
    padding: 0 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.item{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.editContact{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 25px 25px;
    text-align: left;
    border: 1px solid gray;
    border-radius: 5px;
    grid-gap: 5px;
}
.editContactTittle{
    display: grid;
}
.closeButton{
    padding: 0!important;
}
.contactLineRight{
    text-align: right;
    padding-right: 10px;
}
.contactLine{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.editGrid{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fit , auto);
}
.multipleLines{
    display: grid;
    grid-gap: 5px;
}
.li{
    display: grid;
    grid-template-columns: 1fr 25px;
    padding-bottom: 5px;
}
.cardTittle{
    display: grid;
    grid-template-columns: 1fr 40px;
}