<div class="create-desc">
  <div class="create-desc__close" (click)="closeModalHandler()"></div>
  <app-image-input
    class="create-desc__img"
    [imgUrlValue]="imgUrl.value"
    (setFormImageUrl)="setImgUrlValue($event)"></app-image-input>
  <app-text-area
    class="create-desc__field"
    [error]="errors?.['text']"
    [placeholder]="'Текст'"
    [rows]="3"
    [internalValue]="text.value"
    (valueChange)="text.patchValue($event)"></app-text-area>

  <button class="create-desc__button" (click)="submitFormHandler()">
    Создать
  </button>
</div>
