<div class="backdrop" @fadeAnimation (click)="showLangHandler()"></div>

<div class="nav-language">
  <div class="nav-language__container">
    <div class="nav-language__icon" (click)="showLangHandler()"></div>
  </div>
  <div class="nav-language__content" @languageAnimation>
    <div
      class="nav-language__content__item"
      *ngFor="let language of languages"
      (click)="setLanguageHandler(language.tag)">
      <div
        class="nav-language__content__item__icon"
        [ngClass]="flagClass(language.tag)"></div>
      {{ language.title }}
    </div>
  </div>
</div>
